body { 
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; 
}

.cs-bg {
    background-color: #121212;
    background-image: linear-gradient(rgba(255, 255, 255, 0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
    background-size: 30px 30px;
}